<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Name }}</title>
  <link rel="icon" href="{{ .FaviconURL }}">
</head>
<body>
  <a href="{{ .WebsiteURL }}" target="_blank" class="header-page-title">
    <img class="header-page-logo" src="{{ .LogoURL }}">
    <h1 class="header-page-name">{{ .Name }}</h1>
  </a>
</body>
</html>
